body {
    background: #ffe01b;
    font-family: Menlo, monospace;
}
#btnContainer {
    position: absolute;
    top: 600px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
#answer {
    position: absolute;
    right: 0;
}
.desk {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 1000px;
    height: 500px;
    margin-left: -500px;
    background: #ffb41e;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 50px;
}
/*card layout*/
.card {
    width: 200px;
    height: 300px;
    background: #ffffff;
    border-radius: 15px;
    border: 1px solid #646464;
    float: left;
    margin: 10px;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px #323232;
}
.topL, .btmR {
    width: 40px;
    height: 300px;
}
.topL {
    float: left;
}
.btmR {
    float: right;
    transform: rotate(180deg);
}
.value, .suit {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
}
.value {
    margin: 5px 0 -5px 0;
}
.middle {
    height: 300px;
    box-sizing: border-box;
    margin: 0 40px;
    padding: 10px 0;
}
.middle>div {
    width: 40px;
    height: 280px;  /* 300-10*2 */
    float: left;
}
/*values*/
.ace .value::after {
    content: 'A';
}
.two .value::after {
    content: '2';
}
.three .value::after {
    content: '3';
}
.four .value::after {
    content: '4';
}
.five .value::after {
    content: '5';
}
.six .value::after {
    content: '6';
}
.seven .value::after {
    content: '7';
}
.eight .value::after {
    content: '8';
}
.nine .value::after {
    content: '9';
}
.ten .value::after {
    content: '10';
}
.jack .value::after {
    content: 'J';
}
.queen .value::after {
    content: 'Q';
}
.king .value::after {
    content: 'K';
}
/*suits*/
.diamond, .heart {
    color: #ff0000;
}
.club, .spade {
    color: #000000;
}
.diamond .suit::after, .diamond .v::after {
    content: '\2666';
}
.club .suit::after, .club .v::after {
    content: '\2663';
}
.heart .suit::after, .heart .v::after {
    content: '\2665';
}
.spade .suit::after, .spade .v::after {
    content: '\2660';
}
/*layout styles for different cards*/
.middle>div>div {
    height: 56px;  /* (300-10*2)/5 */
    box-sizing: border-box;
    line-height: 56px;
    font-size: 56px;
    text-align: center;
}
.nine .edge>div, .ten>.middle>div>div {
    height: 70px;  /* (300-10*2)/4 */
    padding: 7px 0;  /* (70-56)/2 */
}
.nine .edge>div:last-child, .ten>.middle>div>div:last-child {
    display: none;
}
.ten .center>div:first-child {
    margin-bottom: -35px;  /* 70/2 */
}
.two .center>div:last-child, .three .center>div:last-child,
.four .edge>div:last-child, .five .edge>div:last-child,
.six .edge>div:last-child, .seven .edge>div:last-child,
.eight .edge>div:last-child, .eight .center>div:nth-child(4),
.nine .edge>div:nth-child(3), .nine .edge>div:nth-child(4),
.ten .edge>div:nth-child(3), .ten>.middle>div>div:nth-child(4) {
    transform: rotate(180deg);
}
/* layout style for J, Q, K */
.jack>.middle div, .queen>.middle div, .king>.middle div {
    display: none;
}
.middle>span {
    text-align: center;
    display: inline-block;
    width: 120px;
    height: 280px;
    line-height: 280px;
    font-size: 120px;
}
